@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  margin-top: 50px;
  padding-top: 40px;
  min-height: calc(100vh - 40px);
}

@media (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

@media (max-width: 767px) and (min-width: 481px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 12px;
  }
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  height: 57px;
}

.navbar .brand {
  display: block;
  margin: 0;
  flex-direction: column;
  background-color: rgb(189, 10, 10);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 3px 5px 8px rgba(218, 83, 83, 0.973);
}

.navbar .brand .title {
  font-size: 24px;
  margin: 0;
  font-weight: bold;
  color: white;
  font-family: "Roboto", sans-serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.navbar .brand .subtitle {
  font-size: 14px;
  margin: 0;
  color: white;
  font-style: italic;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60%;
  display: flex;
}

.navbar ul li {
  margin-left: 20px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: block;
}

.navbar ul li a:hover {
  background-color: rgb(189, 10, 10);
  border-radius: 5px;
}

.search-form {
  display: flex;
  position: center;
}

.search-input {
  padding: 10px;
  font-size: 16px;
  font: optional;
  border: 2px solid #ecf0f1;
  border-right: none;
  outline: none;
  border-radius: 20px 0 0 20px;
  transition: border-color 0.3s;
  width: 150px;
}

.search-input:focus {
  border-color: rgb(189, 10, 10);
}

.search-button {
  padding: 5px 4px;
  background-color: #333;
  color: white;
  border: 2px solid white;
  border-left: none;
  cursor: pointer;
  border-radius: 0 20px 20px 0;
  transition: background-color 0.3s, border-color 0.3s;
}

.search-button:hover {
  background-color: rgb(189, 10, 10);
  border-color: white;
}

@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
  }

  .navbar-menu {
    flex-direction: column;
    width: 100%;
    display: none;
  }

  .navbar-menu li {
    margin: 5px 0;
    text-align: center;
  }

  .search-form {
    width: 100%;
    margin-top: 10px;
  }

  .search-input,
  .search-button {
    width: 45%;
    display: inline-block;
    margin-right: 5px;
    border-radius: 5px;
  }

  .navbar-brand {
    width: 80px;
  }
  .menu-toggle {
    display: block;
  }
  .navbar-container {
    position: relative;
  }

  .menu-toggle {
    display: none;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
  }
}

@media (max-width: 480px) {
  .navbar-menu li {
    margin: 3px 0;
  }

  .search-form {
    margin-top: 5px;
  }
  .navbar-container {
    position: relative;
  }

  .menu-toggle {
    display: none;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
  }
}

main {
  padding: 2rem;
}

h1 {
  text-align: center;
  color: #343a40;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.teams {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 2rem;
}
.team {
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin-bottom: 2rem;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.team:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.team h2 {
  color: #17a2b8;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.team-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 1rem;
  transition: transform 0.3s ease;
}

.team-image:hover {
  transform: scale(1.05);
}

.statistics {
  margin-top: 1rem;
  background-color: #f8f9fa;
  padding: 1rem;
  border-radius: 5px;
}

.statistics p {
  margin: 0.5rem 0;
  color: #555;
}
h2 {
  text-align: center;
  color: #17a2b8;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.players {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2rem;
}

.player {
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 30%;
  margin-bottom: 2rem;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.player:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.player h3 {
  color: #17a2b8;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.player-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 1rem;
  transition: transform 0.3s ease;
}

.player-image:hover {
  transform: scale(1.05);
}
.contain {
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  max-width: 1400px;
  margin: auto;
}

.video {
  flex: 1 1 calc(45% - 20px);
  max-width: calc(45% - 20px);
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
}

.video iframe {
  width: 100%;
  height: auto;
  border: none;
}
.v @media (max-width: 992px) {
  .video {
    flex: 1 1 calc(90% - 20px);
    max-width: calc(90% - 20px);
  }
}
.judul {
  width: 20%;
  text-align: center;
  padding-left: 40%;
}
@media (max-width: 768px) {
  .video {
    flex: 1 1 calc(100% - 20px);
    max-width: calc(100% - 20px);
  }
}

footer {
  background: #333;
  padding-top: 50px;
  color: white;
  width: 100%;
  bottom: 0;
}

.container {
  width: 1140px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.footer-content {
  width: 33.3%;
}

h3 {
  font-size: 28px;
  margin-bottom: 15px;
  text-align: center;
}

.footer-content p {
  width: 190px;
  margin: auto;
  padding: 7px;
}

.footer-content ul {
  text-align: center;
  color: white;
}

.list {
  padding: 0;
  color: white;
}

.list li {
  width: auto;
  text-align: center;
  list-style-type: none;
  padding: 7px;
  position: relative;
}

.list li a {
  color: white;
}

.list li::before {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 100%;
  width: 0;
  height: 2px;
  background: #f18930;
  transition-duration: 0.5s;
}

.list li:hover::before {
  width: 70px;
  background-color: #f18930;
}

.social-icons {
  text-align: center;
  padding: 0;
}

.social-icons li {
  display: inline-block;
  text-align: center;
  padding: 5px;
}

.social-icons i {
  color: white;
  font-size: 25px;
}

a {
  text-decoration: none;
}

a:hover {
  color: #f18930;
}

.social-icons i:hover {
  color: #f18930;
}

.bottom-bar {
  background: #f18930;
  text-align: center;
  padding: 10px 0;
  margin-top: 50px;
}

.bottom-bar p {
  color: #343434;
  margin: 0;
  font-size: 16px;
  padding: 7px;
}
